/* inisiasi font dari aset yang telah didownload */
@font-face {
    font-family: incantationFont;
    src: url(/Assets/fonts/INCANTAT.TTF);
}
@font-face {
    font-family: minionsFont;
    font-size: bold;
    src: url(/Assets/fonts/Bauhaus\ Demi.otf) format("opentype");
}
@font-face {
    font-family: batmanFont;
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Regular'), url('/Assets/fonts/FranklinGothic.woff') format('woff');
}
/* mengubah background color pada body dan font */
body { 
    background-color: #212121;
    color: aliceblue;
}

/* mengedit navbar sampai ke navbar-nav */
.navbar .navbar-brand { 
    font-size: 1.5em;
}
.navbar-nav { 
    font-size: 1em;
}
nav { 
    font-size: 22px;
    background-color: transparent;
    height: auto;
    transition: all 0.5s;
}
nav.activated { 
    font-size: 16px;
    background-color: #1a1a1a;
    height: auto;
    transition: all 0.3s;
}
nav.navbar.activated a:hover { 
    font-size: 16px;
    color: #dc3545;
    height: auto;
    transition: all 0.3s;
}

/* mengedit container selain container bawaan bootstrap */
.notFirstContainer{ 
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px rebeccapurple solid;
    padding-top: 1em;
}

.titleContent { 
    padding-left: 1em;
}
/* mengedit carousel */
.carousel-item { 
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carousel-caption { 
    text-align: left;
    color: whitesmoke;
    max-width: 500px;
    top: 50%;
    bottom: auto;
}

/* mengedit karakter tiap konten carousel */
#incantation { 
    font-family: incantationFont;
    font-size: 4em;
    max-width: 500px;
}
#batman { 
    font-family: 'batmanFont', sans-serif;
    font-size: 5em;
    max-width: 500px;
}

#minions { 
    font-family: 'minionsFont';
    font-size: 6em;
    max-width: 500px;
}
#titanic { 
    font-family: incantationFont;
    font-size: 4em;
    max-width: 500px;
}
#incantation { 
    font-family: incantationFont;
    font-size: 4em;
    max-width: 500px;
}
