/* inisiasi font dari aset yang telah didownload */
@font-face {
    font-family: incantationFont;
    src: url(/Assets/fonts/INCANTAT.TTF);
}
/* mengubah background color pada body dan font */
body { 
    background-color: #212121;
    color: aliceblue;
}

/* mengedit navbar sampai ke navbar-nav */
.navbar .navbar-brand { 
    font-size: 1.5em;
}
.navbar-nav { 
    font-size: 1em;
}
nav { 
    background-color: transparent;
    height: auto;
    transition: all 0.8s;
}
nav.activated { 
    background-color: #1a1a1a;
    height: auto;
    transition: all 0.3s;
}


/* mengedit container selain container bawaan bootstrap */
.notFirstContainer{ 
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px rebeccapurple solid;
    padding-top: 1em;
    padding-bottom: 1em;
}


.titleContent { 
    padding-left: 1em;
}
/* mengedit carousel */
.carousel-item { 
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carousel-caption { 
    text-align: left;
    color: whitesmoke;
    max-width: 500px;
    top: 50%;
    bottom: auto;
}
.carousel-control-next, .carousel-control-prev {
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/* mengedit karakter tiap konten carousel */
#incantation { 
    font-family: incantationFont;
    font-size: 4em;
    max-width: 500px;
}
